# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [ ]:
Answer: mongodb is a document database engine. It is used to store and retrive data in the form of documents. It is a NOSQL database. 
Non-relateional database is a database that is not based on a relational model. It is a database that does not use the relational model to store data. 
MongoDB is preferred over SQL databases because MongoDB is a NoSQL database.

# Q2. State and Explain the features of MongoDB.

In [ ]:
Schema-less : mongoDB does not require a predefined scheema for its documents , making it very flexible and easy for storing unstructured or semi-structured data.


High performence: Mongodb is designed for high performence , both in terms  of read and write operations. This makes it a large amounts of data quickly.


Scalability: MongoDB is highly scalable , both  horizantally and vertically. This means theat it can be easily scaled up to handle more data or more users.


Replication: Mongodb supports replication , Which means that data can be stored on multiple servers. This provides high availibility and data redundency in case of server faliure.


Security: MongoDB supports a variety of security features, such as authentication Authorization and encryption . this helps to protect data from unauthorized access.


Flixible querying: Mongodb supports  variety of querying options, including field queries, range queries, and regular expression searches. This makes it easy to find the data you need.
    
    
Document-based storage: MongoDB stores data in documents, which are similar to JSON objects. This makes it easy to store and query data that is naturally represented in this format.


Automatic indexing:MongoDB automatically indexes documents, which makes queries faster.

    
Geospatial support: MongoDB supports geospatial data, which makes it a good choice for applications that need to store and query location data.

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [ ]:
pip install pymongo

In [1]:
import pymongo
from pymongo import MongoClient

URL = "mongodb+srv://Himanshup:Himanshu88@cluster0.bqum7dh.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(URL)

try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
db = client['MongoDB']

In [4]:
colleciton_Mongodb = db["My_mongo_Records"]

# Q4. Using the database and the collection created in question number 3, write a code to insert one record , and insert many records.
# Use the find() and find_one() methods to print the inserted record.

In [ ]:
data = {"Name":"Himanshu",
        "Sex":"Male",
        "Age":"Pta ni"}

In [ ]:
colleciton_Mongodb.insert_one(data)

In [ ]:
Data_many = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }]

In [ ]:
colleciton_Mongodb.insert_many(Data_many)

In [ ]:
for i in colleciton_Mongodb.find():
    print(i)

{'_id': ObjectId('649ffc30b456bdb544db7262'), 'Name': 'Himanshu', 'Sex': 'Male', 'Age': 'Pta ni'}
{'_id': ObjectId('64a02783b456bdb544db7264'), 'Name': 'Himanshu', 'Sex': 'Male', 'Age': 'Pta ni'}
{'_id': ObjectId('64a027a8b456bdb544db7265'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a027a8b456bdb544db7266'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a027a8b456bdb544db7267'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a027a8b456bdb544db7268'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a027a8b456bdb544db7269'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a027a8b456bdb544db726a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a027a8b456bdb544db726b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a027a8b456bdb544db726c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a027a8b456bdb544db726d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a027a8b456bdb544db726e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a027a8b456bdb544db726f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a027a8b456bdb544db7270'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
colleciton_Mongodb.find_one()

{'_id': ObjectId('649ffc30b456bdb544db7262'),
 'Name': 'Himanshu',
 'Sex': 'Male',
 'Age': 'Pta ni'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [5]:
#first of all we will have to see our data base 
for i in colleciton_Mongodb.find():
    print(i)

{'_id': ObjectId('649ffc30b456bdb544db7262'), 'Name': 'Himanshu', 'Sex': 'Male', 'Age': 'Pta ni'}
{'_id': ObjectId('64a02783b456bdb544db7264'), 'Name': 'Himanshu', 'Sex': 'Male', 'Age': 'Pta ni'}
{'_id': ObjectId('64a027a8b456bdb544db7265'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a027a8b456bdb544db7266'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a027a8b456bdb544db7267'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a027a8b456bdb544db7268'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a027a8b456bdb544db7269'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a027a8b456bdb544db726a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a027a8b456bdb544db726b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a027a8b456bdb544db726c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a027a8b456bdb544db726d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a027a8b456bdb544db726e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a027a8b456bdb544db726f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a027a8b456bdb544db7270'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [10]:
# then we will have to call a query 
# for call the query type this code 
for i in colleciton_Mongodb.find({'Name': 'Himanshu'}):
    print(i)

{'_id': ObjectId('64a02783b456bdb544db7264'), 'Name': 'Himanshu', 'Sex': 'Male', 'Age': 'Pta ni'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [13]:
for i in colleciton_Mongodb.find().sort("address",1):
    print(i)

{'_id': ObjectId('64a02783b456bdb544db7264'), 'Name': 'Himanshu', 'Sex': 'Male', 'Age': 'Pta ni'}
{'_id': ObjectId('64a027a8b456bdb544db7265'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a027a8b456bdb544db726e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a027a8b456bdb544db7269'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a027a8b456bdb544db726f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a027a8b456bdb544db7266'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a027a8b456bdb544db7268'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a027a8b456bdb544db726b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a027a8b456bdb544db726d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a027a8b456bdb544db7270'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a027a8b456bdb544db726a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a027a8b456bdb544db7267'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a027a8b456bdb544db726c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
Answer: 
Delete_one() is used to delete only one record in the database.
Delete_many() is used to delete multiple records in the database.
Drop() is used to delete the entire database.